extends ../layout

block content
  h1= title
  p Voici la liste des #{collectionName}s :

  a(href='/'+collectionName+'s/new') Ajouter un utilisateur
  table(border=1)
    tr
      each col in cols
        th #{col}

    each item in items
      tr
        each col in cols
          td #{item[col]}
        td
          a(href='/'+collectionName+'s/' + item[cols[0]]) Voir
          a(href='/'+collectionName+'s/' + item[cols[0]] + '/edit') Éditer
          a(href='/'+collectionName+'s/' + item[cols[0]] + '?_method=delete') Supprimer
