extends ../layout

block content
  h1= title
  p Voici la liste des utilisateurs :

  a(href=href) Ajouter un utilisateur
  table(border=1)
    tr
      th Id
      th Nom
      th Email
      th Action

    each item in items
      tr
        each col in cols
          td #{item[col]}
        td
          a(href='/'+collectionName+'s/' + item.rowid) Voir
          a(href='/'+collectionName+'s/' + item.rowid + '/edit') Éditer
          a(href='/'+collectionName+'s/' + item.rowid + '?_method=delete') Supprimer
