extends ../layout

block content
  h1= title
  p Voici la liste des utilisateurs :

  a(href='/players/new') Ajouter un utilisateur
  table(border=1)
    tr
      th Id
      th Nom
      th Email
      th Action

    each player in players
      tr
        td #{player.rowid}
        td #{player.name}
        td #{player.email}
        td
          a(href='/players/' + player.rowid) Voir
          a(href='/players/' + player.rowid + '/edit') Éditer
          a(href='/players/' + player.rowid + '?_method=delete') Supprimer
